.container {
	width: 100%;
	height: auto;
}

.padding-top {padding-top: 125px;}
.padding-bottom { padding-bottom: 75px !important;}

.clearfix {
	overflow: auto;
  	zoom: 1;
}

@media all and (max-width: $phone) { 
	.padding-top {padding-top: 0px;}
}