.color-yellow { color: $yellow;}
.color-green { color: $green;}
.color-coal { color: $coal;}
.color-white { color: $white;}
.color-gray { color: $gray;}

.bg-yellow { background: $yellow;}
.bg-green { background: $green;}
.bg-coal { background: $coal;}
.bg-white { background: $white;}
.bg-gray { background: $gray;}