@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arimo:700);

body {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;

	line-height: 24px;
	letter-spacing: 1px;
}

h1{ font-size: 55px; font-family: 'Arimo', sans-serif; font-weight: 700;}
h2{ font-size: 45px; font-family: 'Arimo', sans-serif; font-weight: 700;}
h3{ font-size: 35px; font-family: 'Arimo', sans-serif; font-weight: 700;}
h4{ font-size: 25px; font-family: 'Arimo', sans-serif; font-weight: 700;}
h5{ font-family: 'Source Sans Pro', sans-serif; font-weight: 600;}

a { text-decoration: none; }