.contact-page {
	width: 100%;
	height: 800px;
	background: $white;

	.contact-page-right {
		width: 50%;
		float: left;
	}

	.contact-page-info {
		margin: 5px auto 10px 0;
		h3 {
			text-align: center;
		}

		h5 {
			margin: 10px 0;
		}

		.contact-info-block {
			width: 80%;
		}

		.contact-icon {
			width: 45px;
			padding: 15px 0;
			color: $white;
			text-align: center;
			margin-right: 15px;
			border-radius: 50%;
			vertical-align: middle;
			background: $yellow;
		}

		.contact-icon, h5 {
			display: block;
			float: left;
		}
	}

	.contact-form {
		width: 50%;
		float: left;
		text-align: center;
		input[type=text],
		input[type=email],
		input[type=submit],
		textarea {
			width: 70%;
		    padding: 10px 15px 11px !important;
			margin: 5px 0;
		    font-size: 16px !important;
		    color: $yellow;
		    background: none;
		    border: 3px solid $yellow;
		    cursor: pointer;
		    &:focus {
    			outline: 0;
			}
		}

		textarea {
			height: 150px;
		}

		input[type=submit] {
			text-transform: uppercase;

			transition-property: background, color;
			transition-duration: .3s;

			&:hover {
				color: $white;
				background: $yellow;
			}
		}

		::-webkit-input-placeholder {
		    color: $yellow;
		    font-family: 'Source Sans Pro', sans-serif;
		    text-transform: uppercase; 
		    letter-spacing: 1px;
		}
		:-moz-placeholder {
		    color: $yellow;
		    opacity:1;
		}
		::-moz-placeholder {
		    color: $yellow;
		    opacity:1;
		}
		:-ms-input-placeholder {
		    color: $yellow;
		}
	}
}


@media all and (max-width: $tablet) {
	.contact-page-right,
	.contact-form {
		width: 100% !important;
	}
}

@media all and (max-width: $tablet) {
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=submit],
	textarea {
		width: 87% !important;
	}
	.contact-page-info {h5 {font-size: .7rem;}}
}


