.carousel-outer {
	width: 100%;
}

.carousel-inner {
	width: 100%;
	height: 500px;
	position: relative;
	float: left;
	overflow: hidden;

	margin: 0 auto;

	img {
		width: 100%;
		height: auto;
	}
}

.carousel-title-wrapper {
	width: 100%;
	max-width: $desktop;
	margin: 0 auto;

	position: relative;
}

.carousel-title {
	position: absolute;
	top: 100px;
	width: 60%;
	z-index: 90;
	
	color: $white;

	h1 {
		span {
			background: $yellow;
			padding: 0 10px;
		}
	}
}

.carousel-previous,
.carousel-next {
	position: absolute;
	z-index: 99;

	padding: 218px 30px;

	color: $yellow;

	transition-property: color;
	transition-duration: .3s;

	&:hover {
		color: $coal;
	}
}

.carousel-previous {
	left: 0;
}

.carousel-next {
	right: 0;
}

.image-active {
	display: inline-block;
	opacity: 1;
}

.image-hidden {
	display: none;
	opacity: 0;
}

@media all and (max-width: 1200px) {
	.carousel-title {
		margin-left: 150px;
	}
}

@media all and (max-width: $phone) {
	.carousel-inner {
		height: 250px;
		margin-bottom: 25px;

		img {min-height: 250px;}
	}

	.carousel-title {
		top: 0px;
		margin-left: 85px;
		h1 {font-size: 2rem;}
		h4 {font-size: 1rem;}
	}

	.carousel-previous,
	.carousel-next {
		padding: 93px 30px;
	}
}